head{
    background-color: gray;
}
.tab {
    overflow: hidden;
    border: none;
    background-color: #f1f1f1;
}
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}
#bar{
    border:solid black;
    border-width: 0 1px;
}
.tab button:hover {
    background-color:#b4b4b4;
}
#pic{
    margin-top: 40px;
    border:3px solid;
    margin-left: 30px;
}
#text{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	width: 400px;
	display: inline-block;
    margin-top: 30px;
    margin-left: 30px;
}
#about{
    background-color: #b4b4b4;
    text-decoration: underline;
}
#act,#course {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	text-align: center;
	font-size: 26px;
}
#acdes,#cdes{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	margin-left: 110px;
    font-size:15px;
    margin-right: 20px;
}
html, body {
    height:fit-content;
    width: 700px;
}

html {
    display: table;
    margin: auto;
}
body{
    width: 1000px;
    display: table-cell;
    vertical-align: middle;
}

#main{
    border:solid black;
    border-width: 0 1px;
}